{% extends "base.html" %}
{% load static %}
{% block content %}
<section class="content-info" id="article">
    <h1 class="content-page-title"> {{ article.title }}</h1>
    <div class="author-and-date-line">
        <p class="content-page-author"> {{ article.author }} </p>
        <p class="content-page-date"> {{ article.pub_date }} </p>
    </div>
</section>
<section class="article-content">
    {{ article.article_text_formatted |safe }}
</section>
<section class="bottom-page-comments" id="comments">
    <h1 class="bottom-page-comments-title">Peanut Gallery</h1>
    <div class="submit-comment-container">
        <form action="{% url 'articles:submit_article_comment' article.id %}" method="POST">
            {% csrf_token %}
            <fieldset class="submit-comment-field">
                {% if error_message %}<p><strong>{{ error_message }}</strong></p>{% endif %}
                <label for="article-comment-text">comment:</label><br>
                <textarea class="comment-text-input" name="article_comment_text" id="article-comment-text"></textarea><br><br>
            </fieldset>
            <input class="submit-comment-button" type="submit" value="Submit">
        </form>
    </div>
    {% if comments %}
    {% for comment in comments %}
    <div class="comment-container" id="comment-{{comment.id}}">
        <div class="comment-date">
            <a href="{% url 'articles:article' article.title %}?comment-id={{comment.id}}#comment-{{comment.id}}"> {{ comment.date_entered }} </a>
        </div>
        <div id="comment-{{ comment.id }}" class="comment-text">
            {{ comment.comment_text }}
        </div>
        <div class="comment-vote">
            <div class="comment-vote-button">
                <button class="vote-increase vote-button{% if comment.vote_type == 'increase' %} increase-clicked{% endif %}" data-ambiguity-object-id="{{ comment.id }}" title="increase ambiguity" data-ambiguity-vote-url="{% url 'articles:article_comment_ambiguity_vote' %}">☋</button>
            </div>
            <div class="ambiguity-container">  Ambiguity:<span class="ambiguity">{{ comment.ambiguity }}</span></div>
            <div class="comment-vote-button">
                <button class="vote-decrease vote-button{% if comment.vote_type  == 'decrease' %} decrease-clicked{% endif %}" data-ambiguity-object-id="{{ comment.id }}" title="decrease ambiguity" data-ambiguity-vote-url="{% url 'articles:article_comment_ambiguity_vote' %}">☊</button>
            </div>
        </div>
    </div>
    {% endfor %}
    <div class="comments-pagination">
        <span class="step-links">
            {% if comments.has_previous %}
                <a href="?comment-page=1#comments">&laquo; first</a>
                <a href="?comment-page={{ comments.previous_page_number }}#comments">previous</a>
            {% endif %}

            <span class="current">
                Comment page {{ comments.number }} of {{ comments.paginator.num_pages }}.
            </span>

            {% if comments.has_next %}
                <a href="?comment-page={{ comments.next_page_number }}#comments">next</a>
                <a href="?comment-page={{ comments.paginator.num_pages }}#comments">last &raquo;</a>
            {% endif %}
        </span>
    </div>
    {% endif %}
</section>

{% endblock %}

{% block scripts %}
    <script type="text/javascript" src="{% static 'js/ambiguity_vote.js' %}"></script>
{% endblock %}