/* font stuff */

@font-face {
  font-family: 'Poppins-Regular';
  src: local('Poppins-Regular'),
       url('../static/fonts/Poppins-Regular.ttf') format("truetype");
}
/**********************************************************/


/* defining some vars */

:root {
  --main-background: #211626;
  --moonlight: #F4DD96;
  --green: #4C8B68;
  --grey: #b0b0b0;
}
/**********************************************************/


/* bg-color is used as a class on anything we want to apply bg-color to. this makes it easy to swap bg-color everywhere
when dark mode is enable */
.bg-color {
  background-color: var(--main-background);
}
/**********************************************************/


/* general global application */

body {
    color: var(--grey);
    font-size: 1.5rem;
}

h1 {
  font-size: 3rem;
}

a:link {
  color: #FF4365;
}

a:visited {
  color: #AB4E68;
}

a:hover {
  color: #B61D49;
}
/**********************************************************/


/* the grid that the whole site fits into */

.container {
    display: grid;
    /*margin: 0px 100px;*/
    grid-template-columns: minmax(1px, 2fr) minmax(25px, 0.8fr) minmax(10px, 2fr) minmax(60px, 3fr) minmax(200px, 7fr) minmax(60px, 3fr) minmax(10px, 2fr) minmax(25px, 0.8fr) minmax(1px, 2fr);
    justify-items: center;
    grid-column-gap: 10px;
    grid-row-gap: 50px;
}
/**********************************************************/


/* header stuff */

/* spacer sitting to the left of the header */
.left-header {
  grid-column: 3/5;
}

/* the header holds a sub-grid that contains the logo and darkmode toggle button */
.header {
  grid-column: 5/6;
  font-family: Poppins-Regular;
  display: grid;
  grid-template-columns: 12fr 1fr 2fr;
  width: 100%;
}

/* components that fit into header */
.header-logo {
  grid-column: 1 / 2;
}
.header-spacer {
    grid-column: 2 / 3;
}
.css-toggle {
  grid-column: 3 / 4;
}
.css-toggle-button {
  border-radius: 50%;
  width: 100%;
  aspect-ratio: 1 / 1;
  border-width: 5px;
  background: white;
  border-color: black;
}

/* shitty NW diagonal lines header art */
.header-segments {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
}
div.diagonal-container {
  height: 50px;
}
.to-right {
  background: linear-gradient(146.25deg, transparent calc(50% - 2px), var(--green) 50%, transparent calc(50% + 3px) );
}
.to-left {
  background: linear-gradient(33.75deg, transparent calc(50% - 2px), var(--green) 50%, transparent calc(50% + 3px) );
}

/* finally, a spacer sitting to the right of the header */
.right-header {
  grid-column: 6/8;
}
/**********************************************************/


/* main body  */

.content {
  grid-column: 4/7;
  max-width: 775px;
  text-align: center;
  overflow-wrap: break-word;
}
/**********************************************************/


/* moon stuff */
.mooncolumn {
    width: 100%;
}
.moonbox {
  margin-top: 100%;
  position: relative;
  width: 100%;
  width: 100%;
  padding-top: 100%; /* 1:1 Aspect Ratio */
}
.moon {
  height: 100%;
  width: 100%;
}
.moonlight {
  position: absolute;
  top: 0;
  bottom: 0;
  background-color: var(--moonlight);
  border-radius: 50%;
}
.moonshadow {
  position: absolute;
  top: 0;
  bottom: 0;
}
.waxing-crescent {
  border-radius: 50%;
  right: 25%;
}
.waning-crescent {
  border-radius: 50%;
  left: 25%;
}
.third-quarter {
  border-radius: 0%;
  left: 50%;
}
.first-quarter {
  border-radius: 0%;
  right: 50%;
}
.waning-gibbous {
  width: 70%;
  left: 15%;
}
.waxing-gibbous {
  width: 70%;
  right: 15%;
}
/**********************************************************/


.article-list {
  text-align: left;
}

label {
    display: inline-block;
    float: left;
    clear: left;
    text-align: right;
}

input {
  display: inline-block;
  float: left;
}

textarea.article-text {
  height: 500px;
  width: 100%;
}

img {
  max-width: 100%;
  max-height: 100%;
}

.box {
  outline-style: solid;
  padding: 0.5rem;
}

.infobox {
  outline-style: double;
  margin-top: 1rem;
  padding: 0.3rem;
}

.box-header {
  font-family: Poppins-Regular;
  font-size: 1.5rem;
  padding: 0.2rem;
}

.box-subheader {
  padding: 0.3rem;
}

.box-text {

}

.box-admin-controls {
  text-align: right;
}

.box-admin-controls a:link  {
  color: #FF4365;
}

.box-admin-controls a:visited  {
  color: #FF4365;
}

.box-admin-controls a:hover {
  color: #B61D49;
}

/* markup css */
.article-header {
  margin-top: 3rem;
  margin-bottom: 0.3rem;
  font-size: 2rem;
}
/**********************************************************/


/* darkmode toggle classes. js script toggles these alongside other classes to override colors
it's important that they are defined at the end of the css file so that they can override properly */

.dark-mode-moonlight {
  background-color: var(--main-background);
}

.dark-mode-toggle-button {
  background: var(--main-background);
  border-color: white;
}

.dark-mode-bg {
  background-color: fbfbfb;
  color: black;
}
