{% load static %}

<link rel="stylesheet" type="text/css" href="{% static 'style.css' %}">
<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>Nitwitch</title>
    </head>
    <body class="bg-color">
        <div class="container">
            <!--        Header -->
            <div class="small-margin"></div>
            <div class="big-margin"></div>
            <div class="header left-header">
<!--                site links </a>-->
            </div>
            <div class="header">
                <div class="header-logo">
                    <a href="{% url 'index' %}">
                        <div class="header-segments">
                              <div class="diagonal-container to-right"></div>
                              <div class="diagonal-container to-left"></div>
                              <div class="diagonal-container to-right"></div>
                              <div class="diagonal-container to-left"></div>
                              <div class="diagonal-container to-right"></div>
                              <div class="diagonal-container to-left"></div>
                              <div class="diagonal-container to-right"></div>
                        </div>
                    </a>
                </div>
                <div class = "header-spacer"></div>
                <div class="css-toggle">
                    <button type="button" class="css-toggle-button" id="css-toggle-button" onclick="toggleDarkMode()"></button>
                </div>
            </div>
            <div class="header right-header"></div>
            <div class="big-margin"></div>
            <div class="small-margin"></div>
            <!--        2nd row -->
            <div class="small-margin"></div>
            <div class="mooncolumn">
                <div class="moonbox">
                    <div class="moon moonlight"></div>
                    <div class="moon moonshadow bg-color first-quarter"></div>
                </div>
                <div class="moonbox">
                    <div class="moon moonlight"></div>
                    <div class="moon moonshadow bg-color waxing-crescent"></div>
                </div>
                <div class="moonbox">
                    <div class="moon moonshadow bg-color"></div>
                </div>
                <div class="moonbox">
                    <div class="moon moonlight"></div>
                    <div class="moon moonshadow bg-color waning-crescent"></div>
                </div>
            </div>
            <div class="big-margin"></div>
            <div class="content">
                {% block content %} {% endblock %}
            </div>
            <div class="big-margin"></div>
            <div class="mooncolumn">
                <div class="moonbox">
                    <div class="moon moonlight"></div>
                    <div class="moon moonshadow bg-color third-quarter"></div>
                </div>
                <div class="moonbox">
                    <div class="moon moonlight"></div>
                    <div class="moon moonshadow bg-color third-quarter"></div>
                    <div class="moon moonlight bg-color waning-gibbous"></div>
                </div>
                <div class="moonbox">
                    <div class="moon moonlight"></div>
                </div>
                <div class="moonbox">
                    <div class="moon moonlight"></div>
                    <div class="moon moonshadow bg-color first-quarter"></div>
                    <div class="moon moonlight waxing-gibbous"></div>
                </div>
            </div>
            <div class="small-margin"></div>
        </div>
    </body>
</html>

<script type="text/javascript" src="{% static 'js/css_toggle.js' %}"></script>
{% block scripts %} {% endblock %}
