{% load static %}

<link rel="stylesheet" type="text/css" href="{% static 'style.css' %}">
<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>Nitwitch</title>
    </head>
    <body>
        <div class="container">
            <!--        Header -->
            <div class="small-margin"></div>
            <div class="big-margin"></div>
            <div class="header left-header">
<!--                site links </a>-->
            </div>
            <div class="header">
                <a href="{% url 'index' %}">
                    <div class="header-logo">
                          <div class="diagonal-container to-right"></div>
                          <div class="diagonal-container to-left"></div>
                          <div class="diagonal-container to-right"></div>
                          <div class="diagonal-container to-left"></div>
                          <div class="diagonal-container to-right"></div>
                          <div class="diagonal-container to-left"></div>
                          <div class="diagonal-container to-right"></div>
                    </div>
                </a>
            </div>
            <div class="header right-header"></div>
            <div class="big-margin"></div>
            <div class="small-margin"></div>
            <!--        2nd row -->
            <div class="small-margin"></div>
            <div class="mooncolumn">
                <div class="moonbox">
                    <div class="moon moonlight"></div>
                    <div class="moon moonshadow first-quarter"></div>
                </div>
                <div class="moonbox">
                    <div class="moon moonlight"></div>
                    <div class="moon moonshadow waxing-crescent"></div>
                </div>
                <div class="moonbox">
                    <div class="moon moonshadow"></div>
                </div>
                <div class="moonbox">
                    <div class="moon moonlight"></div>
                    <div class="moon moonshadow waning-crescent"></div>
                </div>
            </div>
            <div class="big-margin"></div>
            <div class="content">
                {% block content %} {% endblock %}
            </div>
            <div class="big-margin"></div>
            <div class="mooncolumn">
                <div class="moonbox">
                    <div class="moon moonlight"></div>
                    <div class="moon moonshadow third-quarter"></div>
                </div>
                <div class="moonbox">
                    <div class="moon moonlight"></div>
                    <div class="moon moonshadow third-quarter"></div>
                    <div class="moon moonlight waning-gibbous"></div>
                </div>
                <div class="moonbox">
                    <div class="moon moonlight"></div>
                </div>
                <div class="moonbox">
                    <div class="moon moonlight"></div>
                    <div class="moon moonshadow first-quarter"></div>
                    <div class="moon moonlight waxing-gibbous"></div>
                </div>
            </div>
            <div class="small-margin"></div>
        </div>
    </body>
</html>

{% block scripts %} {% endblock %}
