{% extends "base_grid.html" %}

{% block content %}
<div class="title-page-content">
{% if recent_publications %}
<div class="title-page-content-list">
    {% for publication in recent_publications %}
    <div class="title-page-content-item">
        {% if publication.article_text %}
        <a href="{% url 'articles:article' publication.title %}">{{ publication.title }}</a>
        {% else %}
        <a href="{% url 'photoalbums:photoalbum' publication.title %}">{{ publication.title }}</a>
        {% endif %}
    </div>
    {% endfor %}
</div>
{% endif %}
</div>
{% endblock %}
